{% extends 'base.html' %}
{% load static %}

{% block title %} Category List {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Category List page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Category-List</li>
        </ol>
    </section>


    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box border-5 border-info rounded">
                    <div class="box-header rounded">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title">Category List</h3>
                            </div>
                            <div class="col-lg-6 d-flex text-right">
                                <a class="btn btn-info btn-sm" href="{% url 'category_create' %}">
                                   <span>Add Category</span> <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col-lg-6" method="GET" action="{% url 'category_search' %}">
                                <input type="search" class="form-control rounded" placeholder="{{ query|default:'Search...' }}"
                                       name="q">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </form>
                        </div>
                    </div>
                    {% include 'common/message.html' %}
                    <div class="box-body">
                        {% if category %}
                            <table class="table table-bordered shadow-sm rounded">
                                <tbody>
                                <tr class="bg-info rounded">
                                    <th>Sub Category</th>
                                    <th>Parent Category</th>
                                    <th>Is Active</th>
                                    <th>Image</th>
                                    <th>Created By</th>
                                    <th>Modified / Created</th>

                                    <th class="text-center">Action</th>
                                   
                                </tr>
                                {% for cat in category %}
                                    <tr>
                                        <td>{{ cat.name }}</td>
                                        <td>{% if not cat.parent %} <-> {% else %} {{ cat.parent }} {% endif %}</td>
                                        <td>{% if cat.is_active == 1 %}
                                            <span class="badge bg-green">Active</span> {% else %}
                                            <span class="badge bg-red">Deactivated</span> {% endif %}</td>
                                      
                                        <td>
                                            {% if not cat.category_image %}
                                                <div class="image_not_found"><i class="fa fa-desktop"></i></div>
                                            {% else %}
                                                <img width="40px" height="15" src="/media/{{ cat.category_image }}"
                                                        alt="category image">
                                            {% endif %}
                                        </td>
                                        <td> <span class="fw-lighter"> <i>{{ cat.created_by }}</i> </span> </td>
                                        <td>
                                            <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Last modified :</i> <i class="text-success" style="font-size: 13px;">{{ cat.modified | date:"M d, Y" }}</i>  </span>
                                            <br>
                                            <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Date created  :</i> <i style="font-size: 13px;">{{ cat.modified | date:"M d, Y" }}</i>  </span>
                                        </td> 
                                        <td class="text-center">
                                            <a class="btn btn-info btn-sm" href="{% url 'category_update' cat.id %}"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'category_delete' cat.id %}"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>          
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="col-3 mx-auto p-2 bg-info rounded text-white">
                                <span class="h4">Category not added yet </span>
                            </div>
                        {% endif %}
                    </div>
                    

                    <div class="box-footer clearfix">
                        {% include 'common/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}