{% extends 'base.html' %}
{% load static %}

{% block title %} Category List {% endblock %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h4 class="m-0 text-dark">CATEGORIES</h4>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
        </div>
    </div>
</div>


<section class="content">
    <div class="card card-outline">
        <div class="card-header">
            <div class="card-title d-flex">
                <h5 class="text-info mr-3 mt-auto">List</h5>
                <form method="GET" action="{% url 'category_search' %}">
                  <input type="search" class="form-control form-control-sm rounded" placeholder="{{ query | default:'Search...' }}" name="q">
                  </form>
            </div>
            <div class="card-tools">
                <a class="btn btn-outline-info btn-sm" href="{% url 'category_create' %}">
                    <span>Add Category</span> <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        {% include 'category/category_list_component.html' %}
        {% include 'common/pagination.html' %}
    </div>
</section>

{% endblock %}