{% extends 'base.html' %}
{% load static %}

{% block title %} Promotion List {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Promotion List page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Promotion-List</li>
        </ol>
    </section>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-solid box-info">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title text-black">Promotion List</h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a title="Create Promotion" data-toggle="tooltip" data-placement="left" class="btn btn-primary btn-sm" href="{% url 'promotion_create' %}">
                                    <span>Add Promotion</span> <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 1em;">
                        <form class="col-lg-6" method="GET" action="{% url 'promotion_search' %}">
                            <input type="search" class="form-control rounded" placeholder="{{ query | default:'Search...' }}"
                                   name="q">
                            <span class="glyphicon glyphicon-search form-control-feedback" style="margin-right: 1em;"></span>
                        </form>
                    </div>
                    {% include 'common/message.html' %}
                    <div class="box-body">
                        {% if promotions %}
                            <table class="table table-bordered">
                                <tbody>
                                <tr class="bg-blue rounded">
                                    <th>Inventory.</th>
                                    <th>Promotion Price</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Description</th>
                                    <th>Created By</th>
                                    <th>Modified Created</th>
                                    <th class="text-left">Action</th>
                                </tr>
                                {% for item in promotions %}
                                    <tr>
                                        <td>{{ item.inventory }}</td>
                                        <td>{{ item.promotion_price }}</td>
                                        <td>{{ item.promotion_start_date }}</td>
                                        <td>{{ item.promotion_end_date }} </td>  
                                        <td> <span class="fw-lighter"> <i>{{ item.description }}</i> </span> </td>                                 
                                        <td> <span class="fw-lighter"> <i>{{ item.created_by }}</i> </span> </td> 
                                        <td>
                                            <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Last modified :</i> <i class="text-success" style="font-size: 13px;">{{ item.modified | date:"M d, Y" }}, {{ item.modified | time:"H:i" }}</i>  </span>
                                            <br>
                                            <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Date created  :</i> <i style="font-size: 13px;">{{ item.created | date:"M d, Y" }}, {{ item.created | time:"H:i" }}</i>  </span>
                                       </td>
                                        <td class="text-left">
                                            <a class="btn btn-info btn-sm" href="{% url 'promotion_update' item.id %}"><i
                                                class="fas fa-pencil-alt"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'promotion_delete' item.id %}"><i
                                                class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="bg-blue text-white" style="padding: 1em;">
                                <i class="fa fa-info fa-2x" style="margin-right: 0.4em;"></i>
                                <span class="h4">Promotion not added yet </span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="box-footer clearfix">
                        {% include 'common/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}