@import url("../bootstrap_5/css/bootstrap.css");

a {
    text-decoration: none !important;
}

a span {
    margin: auto !important;
}

.navbar a:hover {
    background-color: transparent !important;
}

.sidebar {
    padding-top: 30px !important;
}

.logo, .navbar {
    min-height: 70px !important;
    /* background-color: var(--bs-danger) !important */
}

.sidebar-toggle:hover {
    background-color: transparent !important;
}