{% extends 'base.html' %}

{% block title %} Expense list || Expense {% endblock %}

{% block content %}

    {% include 'expense/page_header.html' %}

    <section class="content">
        <div class="card card-outline">
            <div class="card-header">
                <div class="card-title d-flex">
                  <h5 class="text-info mr-3 mt-auto">List</h5>
                  <form method="GET" action="{% url 'expense_search' %}">
                    <input type="search" class="form-control form-control-sm rounded" placeholder="{{ query | default:'Search...' }}" name="q">
                    </form>
                </div>
                <div class="card-tools">
                    <a class="btn btn-outline-info btn-sm" href="{% url 'expense_create' %}">
                        <span>Add Expense</span> <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            {% include 'expense/expense_list_component.html' %}
        </div>
    </section>
    
{% endblock %}