{% extends 'base.html' %}

{% block title %} Expense list || Expense {% endblock %}

{% block content %}

    {% include 'expense/page_header.html' %}

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title">Expense List</h3>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a title="Create Expense" data-toggle="tooltip" data-placement="left" class="btn btn-info btn-sm" href="{% url 'expense_create' %}">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% include 'expense/expense_list_component.html' %}
                    <div class="box-footer clearfix">
                        {% include 'common/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}