{% extends 'base.html' %}

{% block title %} Inventory || Sales Items {% endblock %}

{% block content %}

<section class="content-header">
    <h1> Dashboard <small>Order Records</small></h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order Records</li>
    </ol>
</section>

<div class="content">
    <div class="row">
        <div class="row" style="padding: 1em;">
                        <form class="col-lg-6" method="GET" action="{% url 'sales_order_search' %}">
                            <input type="search" class="form-control rounded" placeholder="{{ query | default:'Search...' }}"
                                   name="q">
                            <span class="glyphicon glyphicon-search form-control-feedback" style="margin-right: 1em;"></span>

                        </form>
                    </div>
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">List of Sales Item</h4>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr class="bg-blue rounded">
                            <th>Receipt Number</th>
                            <th>Customer Name</th>
                            <th>Inventory</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Amount</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        {% if sales_item %}
                        {% for obj in sales_item %}
                        <tr>
                            <td>{{ obj.sales_order.receipt_number }}</td>
                            <td>{{ obj.sales_order.customer }}</td>
                            <td>{{ obj.inventory }}</td>
                            <td>{{ obj.price }}</td>
                            <td>{{ obj.quantity }}</td>
                            <td>{{ obj.total_amount }}</td>
                            <td class="text-center">
                                <a class="btn btn-info btn-sm" href="{% url 'inventory_update' obj.pk %}"><i
                                        class="fa fa-fax" data-toggle="tooltip" title="Create Credit Note"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}