{% extends 'base.html' %}

{% block title %} Sale Items list || Sale Items {% endblock %}

{% block content %}

    {% include 'pos/page_header.html' %}

    <section class="content">
        <div class="card card-outline">
            <div class="card-header">
                <div class="card-title d-flex">
                  <h5 class="text-info mr-3 mt-auto">List</h5>
                  <form method="GET" action="{% url 'sales_order_search' %}">
                    <input type="search" class="form-control form-control-sm rounded" placeholder="{{ query | default:'Search...' }}" name="q">
                    </form>
                </div>
            </div>
    
            {% include 'pos/sales_item_list_component.html' %}
        </div>
    </section>
{% endblock %}