{% extends 'base.html' %}

{% block title %} Checkout {% endblock %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h4 class="m-0 text-dark">CONFIRM ORDER</h4>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Confirm Order</li>
            </ol>
        </div>
    </div>
</div>


<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Confirm Order</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'make_payment_view' %}" class="register-form"
                            role="form">
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="info-title" for="customer">Customer</label>
                            {{ form.customer }}
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="sales_agent">Sales Agent</label>
                            {{ form.sales_agent }}
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="transaction_type">Transaction Type</label>
                            {{ form.transaction_type }}
                        </div>

                        <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 10px;">
                        <div id="cash_paid_form_group" class="form-group" style="display: none;">
                            <label class="info-title" for="cash_paid">Cash Paid</label>
                            {{ form.cash_paid }}
                        </div>

                        <div id="mpesa_paid_form_group" class="form-group" style="display: none;">
                            <label class="info-title" for="mpesa_paid">M-Pesa Paid</label>
                            {{ form.mpesa_paid }}
                        </div>
                    </div>
                        <button type="submit"
                                class="btn-upper btn btn-info checkout-page-button">Confirm Order
                        </button>
                    </form>
                </div>
            
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">{% now "jS F Y H:i" %}</h3>
                    <div class="card-tools">
                        <h3 class="card-title">Sale Summary</h3>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Inventory Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for item in cart %}
                            {% with inventory=item.inventory %}
                            {% if item.is_wholesale %}
                            <td>{{ inventory.name }} <strong>(WholeSale)</strong></td>
                            {% elif item.is_promotion %}
                            <td>{{ inventory.name }} <strong>(Promotion)</strong></td>
                            {% else %}
                            <td>{{ inventory.name }}</td>
                            {% endif %}
                            <td>{{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <p><strong>Net Total: KES <span id="total_price">{{ cart.get_total_price }}</span></strong></p>
                        </div>
                        <div class="col-md-12 text-right">
                            <p id="balance_amount"></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
