{% extends 'base.html' %}
{% load static %}

{% block title %} {{ supplier.supplier_name }} Detail || Supplier {% endblock %}

{% block content %}

    {% include 'supplier/page_header.html' %}

    <div class="content">
        <div class="row">
            <div class="col-lg-6">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">{{ supplier.supplier_name  }} Specification</h3>
                    <div class="card-tools">
                        <a title="Inventory list" data-toggle="tooltip" data-placement="left"
                        class="btn btn-light btn-sm ml-auto" href="{% url 'supplier_list' %}">
                            <i class="fa fa-list text-info"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="invoice_info">
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item d-flex">
                                <b>Supplier name</b> <a
                                    class="ml-auto">{{ supplier.supplier_name }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>Phone Number 1</b> <a
                                    class="ml-auto">{{ supplier.phone_number_1 }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>Phone Number 2</b> <a
                                    class="ml-auto">{{ supplier.phone_number_2 }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>Contact Person</b> <a
                                    class="ml-auto">{{ supplier.contact_person }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>VAT number</b> <a
                                    class="ml-auto">{{ supplier.vat_number }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>PIN number</b> <a
                                    class="ml-auto">{{ supplier.pin_number }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>Email</b> <a
                                    class="ml-auto">{{ supplier.email }}</a>
                            </li>
                            <li class="list-group-item d-flex">
                                <b>Physical Address</b> <a
                                    class="ml-auto">{{ supplier.physical_address }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}