<div class="card-body p-0">
    {% if supplier %}
    <table class="table table-bordered">
        <thead>
            <tr class="bg-info rounded">
                <th>Supplier Name</th>
                <th>Phone Number 1</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Modified</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in supplier %}
        <tr>
            <td>{{ obj.supplier_name|truncatechars:55 }}</td>
            <td>{{ obj.phone_number_1 }}</td>
            <td>{{ obj.contact_person }}</td>
            <td>{{ obj.email }}</td>
            <td>{{ obj.created|time:'g:i:s A' }}</td>
            <td>{{ obj.created_by }}</td>
            <td>{{ obj.modified|time:'g:i:s A' }}</td>
            <td class="text-center">
                <a class="btn btn-info btn-sm" href="{% url 'supplier_detail' obj.pk %}"><i
                        class="fa fa-eye" data-toggle="tooltip" title="View"></i></a>
                <a class="btn btn-info btn-sm" href="{% url 'supplier_update' obj.pk %}"><i
                        class="fas fa-pencil-alt" data-toggle="tooltip" title="Edit"></i></a>
                <a class="btn btn-danger btn-sm"
                   href="{% url 'supplier_delete' obj.pk %}">
                    <i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    {% if query %}
    <div class="p-4">
        <div class="callout callout-info" style="max-width: 600px;">
            <p>No match was found.</p>
      </div>
    </div>
    {% else %}
    <div class="p-4">
        <div class="callout callout-info" style="max-width: 600px;">
            <p>No Supplier added yet.</p>
      </div>
    </div>
    {% endif %}
    {% endif %}
</div>