{% extends 'base.html' %}

{% block title %} Add new damaged inventory {% endblock %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h4 class="m-0 text-title">DAMAGED INVENTORY</h4>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Damaged Inventory</li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Form Input</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {{ form.errors }}
                    {% csrf_token %}   
                    <div class="form-group">
                        <label for="inventory">Inventory</label>
                        {{ form.inventory }}
                    </div>
                    <div class="form-group">
                        <label for="supplier">Supplier</label>
                        {{ form.supplier }}
                    </div>
                    <div class="form-group">
                        <label for="person">Person Responsible</label>
                        {{ form.person }}
                    </div>
                    <div class="form-group">
                        <label for="count">Count</label>
                        {{ form.count }}
                    </div>
                    <div class="form-group">
                        <label for="replaceable">Replaceable</label>
                        {{ form.replaceable }}
                    </div>
                    <div class="form-group">
                        <label for="damage_reason">Damage Reason</label>
                        {{ form.damage_reason }}
                    </div>
                    <div style="padding: 1em 0;" class="d-flex">
                        <a href="{% url 'damaged_inventory_list' %}" class="btn btn-default mr-auto">Discard</a>
                        <button class="btn btn-primary ml-auto" type="submit">Save</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
