{% extends 'base.html' %}

{% block title %} {{ object }} confirm items replacement {% endblock %}

{% block content %}

    <section class="card-body d-flex justify-content-center">
        <div class="card card-success" style="min-width: 500px;">
            <div class="card-header d-flex justify-content-center">
                <h3 class="card-title">Confirm that items have been replaced.</h3>
            </div>
            <div class="card-body d-flex justify-content-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column align-items-center">
                        <i class="fa fa-check fa-3x text-success"></i>
                        <h4>You are replacing <b>{{item.count}} item(s)</b> of <b>"{{ item.inventory }}" </b>?</h4>
                    </div>
                    <div class="d-flex justify-content-center" style="padding: 1em;">
                        <a href="{% url 'damaged_inventory_list' %}" class="btn btn-success" style="margin-right: 1em;">Cancel</a>
                        <a href="{% url 'damaged_inventory_replace' item.id %}" class="btn btn-light text-success"  style="border: solid 1px green;">Replace</a>
                    </div>   
                </form>   
            </div>
            </div>
    </section>
{% endblock %}
