{% extends 'base.html' %}
{% load static %}

{% block title %} finish List {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Finish List page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Finish-List</li>
        </ol>
    </section>


    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box border-5 border-info rounded">
                    <div class="box-header rounded">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title">Finish List</h3>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-end">
                                <a class="btn btn-info btn-sm shadow" href="{% url 'finish_create' %}">
                                   <span>Add Finish</span> <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% include 'common/message.html' %}
                    <div class="box-body">
                        {% if finish %}
                            <table class="table table-bordered shadow-sm rounded">
                                <tbody>
                                <tr class="bg-info rounded">
                           
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th class="text-left">Action</th>
                                </tr>
                                {% for finish_item in finish %}
                                    <tr>
                                        <td>{{ finish_item.name }}</td>
                                        <td>{% if not finish_item.category %} <-> {% else %} {{ finish_item.category }} {% endif %}</td>
                                        <td class="text-left">
                                            <a class="btn btn-info btn-sm" href="{% url 'finish_update' finish_item.id %}"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'finish_delete' finish_item.id %}"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="col-3 mx-auto p-2 bg-info rounded text-white">
                                <span class="h4">Finish not added yet </span>
                            </div>
                        {% endif %}
                    </div>
                    

                    <div class="box-footer clearfix">
                        {% include 'common/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}