{% extends 'base.html' %}

{% block title %} {{ invoice.id }} confirm as paid {% endblock %}

{% block content %}

    <section class="card-body">
        <div class="card card-success" style="max-width: 600px;">
            <div class="card-header">
                <h3 class="card-title">Invoice Payment</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'mark_invoice_as_paid' invoice.id %}" role="form">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="mb-5">
                        <h5>Pending amount <span class="text-info"> <b>{{ invoice.pending_balance }}</b> </span></h5>
                    </div>

                    <div class="form-group">
                        <label class="info-title" for="transaction_type">Transaction Type</label>
                        {{ form.transaction_type }}
                    </div>

                    <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 10px;">
                        <div id="cash_paid_form_group" class="form-group" style="display: none;">
                            <label class="info-title" for="cash_paid">Cash Paid</label>
                            {{ form.cash_paid }}
                        </div>

                        <div id="mpesa_paid_form_group" class="form-group" style="display: none;">
                            <label class="info-title" for="mpesa_paid">M-Pesa Paid</label>
                            {{ form.mpesa_paid }}
                        </div>
                    </div>
                    <div class="d-flex " style="padding: 1em;">
                        <a href="{% url 'invoice_list' %}" class="btn btn-sm btn-default mr-auto" style="margin-right: 1em;">Cancel</a>
                        <button type="submit" class="btn btn-sm btn-info ml-auto" >Save</button>
                    </div>   
                </form>   
            </div>
            </div>
    </section>
{% endblock %}
