{% extends 'base.html' %}

{% block title %} {{ invoice.id }} confirm as paid {% endblock %}

{% block content %}
    <div class="content">
        <div class="row text-center">
            <div class="col-lg-6 col-lg-offset-3 text-center mt-5">
                <div class="box">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card pt-3">
                            <div class="card-header">
                                <h5 class="card-title">Are you sure you want to mark invoice {{ invoice.id }}
                                    for {{ invoice.sales_order.receipt_number }} for customer
                                    {{ invoice.sales_order.customer.name }} as paid?</h5>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-danger btn-sm" type="submit">Yes</button>
                                <a href="{% url 'invoice_list' %}" class="btn btn-warning btn-sm  text-light">No</a>
                            </div>
                        </div>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
