<div class="card-body p-0">
    {% if credit_note %}
    <table class="table table-bordered">
        <tbody>
        <tr class="bg-info rounded">
            <th>Sale Order</th>
            <th>Sale Item</th>
            <th>Customer</th>
            <th>CN Quantity</th>
            <th>Reason</th>
            <th>Affects Cash</th>
            <th>Created</th>
            <th>Created By</th>
        </tr>
        {% for obj in credit_note %}
        <tr>
            <td>{{ obj.sales_item.sales_order.receipt_number }}</td>
            <td>{{ obj.sales_item.inventory.name }}</td>
            <td>{{ obj.sales_item.sales_order.customer.name|truncatechars:15 }}</td>
            <td>{{ obj.quantity }}</td>
            <td>{{ obj.credit_note_reason }}</td>
            <td>{{ obj.affects_cash }}</td>
            <td>{{ obj.created|time:'g:i:s A' }}</td>
            <td>{{ obj.created_by }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="p-4">
        <div class="callout callout-info" style="max-width: 600px;">
            <h5>No Data!</h5>
      </div>
    </div>
    {% endif %}
</div>
