{% load adminlte_helpers %}
{%load static %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar sidebar-dark-primary  elevation-4">
     <!-- Brand Logo -->
    {% block logo %}
        <a href="#" class="brand-link">
            <img src="{% static 'dist/img/admin.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            {% block logo_text %}<span class="brand-text text-info"><b>CAPITAL</b>Finishes </span>{% endblock %}
        </a>
    {% endblock %}
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% avatar_url size=90 %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block text-warning">{% firstof request.user.get_full_name request.user.username %}</a>
        </div>
      </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            {% block nav_links_outer %}
            <li class="nav-header">{% block nav_heading %}MAIN FEATURES{% endblock %}</li>

            {% block nav_links %}
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-success"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item has-tree-view ">
                    <a class="nav-link">
                        <i class="nav-icon far fa-object-group text-info"></i> <p>Configuration</p>
                        <p><i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview menu-open">
                        <li class="nav-item">
                            <a href="{% url 'category_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i> Categories
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tag_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i> Tags
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'color_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i> Colors
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'size_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i> Size
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'range_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i> Range
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'finish_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i> Finish
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-tree-view ">
                    <a class="nav-link">
                        <i class="nav-icon far fa-object-group text-primary"></i> <p>Inventory</p>
                        <p><i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview menu-open">
                        <li class="nav-item">
                            <a href="{% url 'inventory_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i> Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'replenishment_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i> Replenishment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'promotion_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i> Promotion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'damaged_inventory_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i> Damage Inventory
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-tree-view ">
                    <a class="nav-link">
                        <i class="nav-icon far fa-object-group text-warning"></i> <p>POS</p>
                        <p><i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview menu-open">
                        <li class="nav-item">
                            <a href="{% url 'pos_view' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i> Create Order
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'sale_item_information' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i> Sale Items
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'expense_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i> Petty Cash
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'invoice_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i> Invoice
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'credit_note_list' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i> Credit Note
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'supplier_list' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-orange"></i>
                        <p>Suppliers</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'customer_list' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-success"></i>
                        <p>Customers</p>
                    </a>
                </li>

                <li class="nav-item has-tree-view ">
                    <a class="nav-link">
                        <i class="nav-icon far fa-object-group text-primary"></i> <p>Settings</p>
                        <p><i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview menu-open">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-danger"></i>
                                <p class="text">Password Change</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-success"></i>
                                <p class="text">Add Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p class="text">All Users</p>
                            </a>
                        </li>   
                    </ul>
                </li>
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
            </ul>
            </nav>
        {% endblock nav_links_ul %}
    </div>
    <!-- /.sidebar -->
</aside>