{% extends 'base.html' %}

{% block title %} {{ object }} confirm delete {% endblock %}

{% block content %}
    <div class="content">
        <div class="row text-center">
            <div class="col-lg-4 col-lg-offset-3 text-center mt-5 mx-auto">
                <div class="box p-0 m-0 shadow rounded">
                    <form method="POST" class="border-0 p-0 m-0">
                        {% csrf_token %}
                        <div class="card border-0 p-0 m-0">
                            <div class="card-header bg-danger">
                                <h4 class="card-title m-0 text-light">Are you sure ?</h4>
                            </div>
                            <div class="card-body">
                                <div>
                                    <i class="fa fa-times fa-3x text-danger"></i>
                                   <h5>
                                    You are deleting <b>"{{ object }}" </b>?
                                   </h5> 
                                </div>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <a href="{% url 'range_list' %}" class="btn btn-danger shadow me-2">No</a>
                                <button class="btn border border-danger text-danger" type="submit">Yes</button>
                            </div>
                        </div>
                    </form>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
