{% extends 'base.html' %}
{% load static %}

{% block title %} Range List {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Range List page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Range-List</li>
        </ol>
    </section>


    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box border-5 border-info rounded">
                    <div class="box-header rounded">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title">Range List</h3>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-end">
                                <a class="btn btn-info btn-sm shadow" href="{% url 'range_create' %}">
                                   <span>Add Range</span> <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col-lg-6 mt-3 mb-1" method="GET" action="{% url 'range_search' %}">
                                <input type="search" class="form-control rounded" placeholder="{{ query|default:'Search...' }}"
                                       name="q">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </form>
                        </div>
                    </div>
                    {% include 'common/message.html' %}
                    <div class="box-body">
                        {% if range %}
                            <table class="table table-bordered shadow-sm rounded">
                                <tbody>
                                <tr class="bg-info rounded">
                              
                                    <th>Name</th>
                                    <th>Created By</th>
                                    <th>Modified / Created</th>
                                    <th class="text-left">Action</th>
                                </tr>
                                {% for range_item in range %}
                                    <tr>
                              
                                        <td>{{ range_item.name }}</td>
                                        <td> <span class="fw-lighter"> <i>{{ range_item.created_by }}</i> </span> </td> 
                                        <td>
                                             <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Last modified :</i> <i class="text-success" style="font-size: 13px;">{{ range_item.modified | date:"M d, Y" }}</i>  </span>
                                             <br>
                                             <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Date created  :</i> <i style="font-size: 13px;">{{ range_item.modified | date:"M d, Y" }}</i>  </span>
                                        </td>
                                        <td class="text-left">
                                            <a class="btn btn-info btn-sm" href="{% url 'range_update' range_item.id %}"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-sm" href="{% url 'range_delete' range_item.id %}"><i
                                                    class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="col-3 mx-auto p-2 bg-info rounded text-white">
                                <span class="h4">Range not added yet </span>
                            </div>
                        {% endif %}
                    </div>
                    

                    <div class="box-footer clearfix">
                        {% include 'common/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}