{% extends 'base.html' %}

{% block title %} Add new range {% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h4 class="m-0 text-title">ADD RANGE</h4>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Range</li>
            </ol>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Form Input</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}   
                    <div class="form-group">
                        <label for="range_name">Name</label>
                        {{ form.name }}
                    </div>
                    <div style="padding: 1em 0;" class="d-flex">
                        <a href="{% url 'range_list' %}" class="btn btn-default mr-auto">Discard</a>
                        <button class="btn btn-success ml-auto" type="submit">Save</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
