<div class="card-body p-0">
                {% if replenishments %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-info rounded">
                            <th>Receipt No.</th>
                            <th>Delivery No.</th>
                            <th>Supplier</th>
                            <th>Inventory</th>
                            <th>Count</th>
                            <th>Amount Per Item</th>
                            <th>Total Amount</th>
                            <th>Created By</th>
                            <th>Created</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for replenishment_item in replenishments %}
                        <tr>
                            <td>{{ replenishment_item.receipt_number }}</td>
                            <td>{{ replenishment_item.delivery_number }}</td>
                            <td>{{ replenishment_item.supplier }}</td>
                            <td>
                                <ol>
                                    {% for item in replenishment_item.items %}
                                        <li >{{ item.inventory.name }}</li>
                                    {% endfor %}
                                </ol>
                            </td>
                            <td>
                                <ul>
                                    {% for item in replenishment_item.items %}
                                        <li >{{ item.count }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for item in replenishment_item.items %}
                                        <li >{{ item.amount }}</li>
                                    {% endfor %}
                                </ul>

                            </td>
                            <td> <span class="fw-lighter"> <i>{{ replenishment_item.total_amount }}</i> </span> </td>
                            <td> <span class="fw-lighter"> <i>{{ replenishment_item.created_by }}</i> </span> </td>
                            <td>
                                 <span class="fs-6 fw-lighter"> <i style="font-size: 13px;">{{ replenishment_item.created | date:"M d, Y" }}, {{  replenishment_item.created | time:"H:i" }}</i>  </span>
                            </td>
                            <td class="text-left">
                                <a class="btn btn-info btn-sm" href="{% url 'replenishment_update' replenishment_item.id %}"><i
                                    class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger btn-sm" href="{% url 'replenishment_delete' replenishment_item.id %}"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="p-4">
                    <div class="callout callout-info" style="max-width: 600px;">
                        <h5>No Data!</h5>
                        <p>Create new record by clicking the button at the top right of the card.</p>
                </div>
                </div>
            {% endif %}
            </div>