{% extends 'base.html' %}

{% block title %} Add new color {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Add new color</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Color</li>
        </ol>
    </section>

    <div class="content">
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-light shadow-sm border-none rounded">
                    <div class="box-header bg-success">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="box-title text-light">Add New Color</h3>
                            </div>
                            <div class="col-lg-6 d-flex justify-content-end">
                                <a title="Category list" data-toggle="tooltip" data-placement="left"
                                   class="btn btn-outline-success btn-sm ml-auto" href="{% url 'color_list' %}">
                                    <i class="fa fa-list text-light"></i>
                                </a>
                            </div>
                        </div>
                        {% include 'common/message.html' %}
                    </div>
                    <div class="box-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="name">Name</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="name">Category</label>
                                        {{ form.category }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-success" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
