{% extends 'base.html' %}
{% load static %}

{% block title %} Color List {% endblock %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h4 class="m-0 text-dark">COLOR</h4>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Color</li>
            </ol>
        </div>
    </div>
</div>

<section class="content">
    <div class="card card-outline">
        <div class="card-header">
            <div class="card-title d-flex">
              <h5 class="text-info mr-3 mt-auto">List</h5>
              <form method="GET" action="{% url 'color_search' %}">
                <input type="search" class="form-control form-control-sm rounded" placeholder="{{ query | default:'Search...' }}" name="q">
                </form>
            </div>
            <div class="card-tools">
                <a class="btn btn-outline-info btn-sm" href="{% url 'color_create' %}">
                    <span>Add Color</span> <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>

        <div class="card-body p-0">
            {% if color %}
            <table class="table table-bordered">
                <tbody>
                <tr class="bg-info rounded">
                    <th>Color</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Created By</th>
                    <th>Modified / Created</th>
                    <th class="text-left">Action</th>
                </tr>
                {% for color_item in color %}
                    <tr>
                        <td>
                            <span class="badge" style="background-color: {{ color_item.code }}"> {{ color_item.code }} </span>
                        </td>
                        <td>{{ color_item.name }}</td>
                        <td>{% if not color_item.category %} <-> {% else %} {{ color_item.category }} {% endif %}</td>                                  
                        <td> <span class="fw-lighter"> <i>{{ color_item.created_by }}</i> </span> </td> 
                        <td>
                             <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Last modified :</i> <i class="text-info" style="font-size: 13px;">{{ color_item.modified | date:"M d, Y" }}, {{  color_item.modified | time:"H:i" }}</i>  </span>
                             <br>
                             <span class="fs-6 fw-lighter"> <i class="fw-lighter" style="font-size: 12px;">Date created  :</i> <i style="font-size: 13px;">{{ color_item.created | date:"M d, Y" }}, {{  color_item.created | time:"H:i" }}</i>  </span>
                        </td>
                        <td class="text-left">
                            <a class="btn btn-info btn-sm" href="{% url 'color_update' color_item.id %}"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a class="btn btn-danger btn-sm" href="{% url 'color_delete' color_item.id %}"><i
                                    class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="bg-blue text-white" style="padding: 1em;">
                <i class="fa fa-info fa-2x" style="margin-right: 0.4em;"></i>
                <span class="h4">Color not added yet </span>
            </div>
            {% endif %}
        </div>
        <div class="card-footer clearfix">
            {% include 'common/pagination.html' %}
        </div>
    </div>
</section>

{% endblock %}