{% extends 'base.html' %}

{% block title %} Inventory list || Inventory {% endblock %}

{% block content %}

    {% include 'inventory/page_header.html' %}

    <section class="content">
        <div class="card card-outline">
            <div class="card-header">
                <div class="card-title d-flex">
                  <h5 class="text-info mr-3 mt-auto">List</h5>
                  <form method="GET" action="{% url 'inventory_search' %}">
                    <input type="search" class="form-control form-control-sm rounded" placeholder="{{ query | default:'Search...' }}" name="q">
                    </form>
                </div>
                <div class="card-tools">
                    <a class="btn btn-outline-info btn-sm" href="{% url 'inventory_create' %}">
                        <span>Add Inventory</span> <i class="fa fa-plus"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" href="{% url 'inventory_bulk_edit_page' %}">
                        <span>Bulk Edit</span> <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
            </div>

            {% include 'inventory/inventory_list_component.html' %}
           
            <div class="card-footer clearfix">
                {% include 'common/pagination.html' %}
            </div>
        </div>
    </section>


{% endblock %}